@charset "utf-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ul, li, form, label, table, tbody, thead, tr, th, td, footer,  nav {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	vertical-align:baseline;
}
footer, header, nav {
	display:block;
}

html, body{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	background-color:#fff;
	font-size:62.5%;
	color:#424d54;
	line-height:1.4;
}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
*, *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

ul{
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:inherit;
	line-height:1.2;
	font-family:inherit;
	font-size:100%;
}
p {
	font-family:inherit;
	font-weight:inherit;
	font-size:100%;
	line-height:1.4;
}
img{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	color:#666;
}
button, input, textarea{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background:none;
	-webkit-appearance:none;
	font-family:inherit;
}
sup{
	position:relative;
	font-size:60%;
	vertical-align:super;
}

.fs-no-scroll {
	height:100%;
	overflow:hidden;
}
.fs-has-layout::after {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:0;
	clear:both;
}

.color-orange{
	color: #F38F1E;
}
.color-green-bold{
	color: #177A3F;
}
.color-green-light{
	color: #2D9314;
}
.color-yellow{
	color: #FFD215;
}
.color-brown{
	color: #D08111;
}
.font__sephia{
	font-family: 'VL Selphia';
    font-weight: normal;
    font-style: normal;
}
.font__arsilon{
    font-family: 'SVN-Arsilon';
    font-weight: normal;
    font-style: normal;
}
.center{
	text-align: center;
}
.font__bold{
	font-family: 'Montserrat';
	font-weight: 700;
}
.flex__align--center{
	align-items: center;
}


/*LAYOUT COMMON*/
.fs-page,
.fs-header,
.fs-container,
.fs-footer,
.fs-section, 
.header-inr,
.fs-inr,
.footer-inr
.fs-title,
.fs-box, 
.fs-box-inr {
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
.fs-page{
	width: 100%;
}

.fs-inr{
	max-width: 136rem;
	margin: 0 auto;
}

.fs-bg,
.fs-pic,
.fs-txt{
	position:relative;
	display:block
}
.fs-pic{
	line-height:0;
}
.fs-bg{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
.fs-bg::before {
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto
}
.fs-pic img{	
	width:100%;
}
.fs-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}
.fs-bg div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}

.fs-pc{
	display:block;
}
.fs-sp {
	display:none;
}


/*SELECT LIST*/
.fs-select{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align:left;
	z-index:2;
}
.fs-select-header {
	position:relative;
	display:block;
	height:4rem;
	padding:0 1.5rem;
	line-height:3.8rem;
	background-color: #fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	z-index:2;
}
.no-border .fs-select-header{
	border:none !important;
}
.ready .fs-select-header{
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.fs-select-header span {
	position:absolute;
	left:1.5rem;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	font-size:1.5rem;
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	color:#000;
}
.fs-select-header::after{
	content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 1.3rem;
    height: 1rem;
    background: url(../images/icon-dropdow.png) no-repeat center center;
    background-size: 100% auto;
    transform: translateY(-50%);
}
.fs-select-box{
	position:absolute;
	top:100%;
	left:0;
	display:block;
	width:100%;
	height:auto;
	min-width:100%;
	margin-top:0.5rem;
	visibility:hidden;
	opacity:0;
}
.ready .fs-select-box{
	-webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;	
	transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
}
.fs-select-box ul{
	position:relative;
	display:block;
	max-height:300px;
	background-color:#fff;
	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
}
.fs-select-box li {
	position:relative;
	display:block;
	border-bottom:1px solid #dedede;
	padding:0.7rem 1.5rem;
	cursor:pointer;
	font-size:1.3rem;
}
.fs-select-box li:last-child{
	border:none;
}
.ready .fs-select-box li{
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
/* .fs-open-select .fs-select-header{
	border:1px solid #5fc3b2;
} */


.fs-open-select .fs-select-box{
	opacity:1;
	visibility:visible;
	-webkit-transition-delay:0s, 0s;
	transition-delay:0s, 0s;
}
.fs-select-box li.selected{
	color:#dd452a;
}



/*BUTTON*/
.fs-box-but{
	position:relative;
	display:block;
}
.fs-buts{
	position:relative;
	display:block;
}
.fs-but{
	display:inline-block;
	font-size:1.6rem;
}


/*CHECKBOX*/
.fs-checkbox label, .fs-radio label {
	display:inline-block;
	vertical-align:middle;
	color:#000;
	font-size:1.3rem;
	cursor:pointer;
	padding:0 0 0 1rem;
}
.fs-checkbox li, .fs-radio li{
	position:relative;
}
.fs-checkbox label::before, .fs-checkbox input[type='checkbox'], 
.fs-radio input[type='radio'], .fs-radio label::before, .fs-radio label::after {
	display:inline-block;
	vertical-align:middle;
	width:2rem;
	height:2rem;
}
.fs-checkbox input[type='checkbox'], .fs-radio input[type='radio'] {
	position:relative;
	opacity:0;
	cursor:pointer;
}
.fs-checkbox label::before, .fs-radio label::before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	border:1px solid #9b9b9b;
}
.fs-checkbox label::after {
	content:'';
	position:absolute;
	left:0.4rem;
	top:0.4rem;
	height:0.7rem;
	width:1.2rem;
	border-left:2px solid #9b9b9b;
	border-bottom:2px solid #9b9b9b;
	opacity:0;
}
.fs-checkbox label a{
	color:#c90;
}

.fs-radio li{
	display:inline-block;
	vertical-align:middle;
	margin-right:2rem;
}
.fs-radio label::before{
	-webkit-border-radius:50%;
	border-radius:50%;
}
.fs-radio label::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	-webkit-border-radius:50%;
	border-radius:50%;
	background-color:#000;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity:0;
}

/*HEADER AREA*/
.fs-header{
	position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
    max-width: 136rem;
    margin: 0 auto;
    padding: 0.2% 0;
    background-color: #fff;
}
.header-inr{
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    font-size: 0;
}
.logo{
	position: absolute;
	left: 0;
	top: 0;
    width: 17.68115%;
	height:auto;
	z-index: 1;
}
.logo img{
	display:block;
}
.nav ul{
	position: relative;
	display: flex;
	align-items: center;
	gap: 57px;
	text-align: right;
}
.nav__item{
	position: relative;
	display: block;
}
.nav__item a{
	display: block;
}
.nav__item .nav__name{
	position: relative;
	font-size: 14px;
	color: #136835;
	font-weight: 700;
}
.nav__item .nav__name::after{
	content: '';
	position: absolute;
	top: 50%;
	right: -1.5rem;
	width: 1rem;
	height: 1rem;
	background: url(../images/arrow-menu.png) no-repeat center center;
	background-size: 12px auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.nav__item.active .nav__name::after{
	background: url(../images/arrow-menu-active.png) no-repeat center center;
	background-size: 12px auto;
}
.nav__item .nav__sub{
	font-size: 13px;
	color: #404041;
	font-weight: 600;
}
.nav__item.active .nav__name{
	color: #F1801F;
}
.nav__item.active::after{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    margin-bottom: -1rem;
    background: url(../images/line-menu-active.png) no-repeat center right;
    background-size: auto 100%;
}






/*Title*/
.fs-title {
	margin-bottom:3rem;
}
.fs-title h1, .fs-title h2{
	color:#2e2e2e;
	font-size:4.8rem;
	text-transform:uppercase;
	text-align:center;
}
.small-title{
	position:relative;
	color:#2e2e2e;
	font-size:2.5rem;
	text-transform:uppercase;
}

/*Banner*/
/* .swiper-pagination, .swiper-button-next, .swiper-button-prev{
	display:none
}
.show-controls .swiper-button-next, .show-controls .swiper-button-prev, .show-controls .swiper-pagination{
	display:block;
} */
.hide-controls .swiper-pagination, 
.hide-controls .swiper-button-next, 
.hide-controls .swiper-button-prev{
	display:none
}


/*FORM*/
.lv5{
	z-index:5;
}
.lv4{
	z-index:4;
}
.lv3{
	z-index:3;
}
.fs-hide-label{
	display:block;
	font-size:0;
	line-height:0;
}
.form-box{
	max-width:600px;
	margin:0 auto;
}
.fs-group{
	position:relative;
	display:block;
	margin-bottom:1rem;
}
.fs-group input[type='text'], 
.fs-group input[type='email'], 
.fs-group input[type='number'], 
.fs-group input[type='password']{
	display:block;
	font-family: 'SVN-Gotham Rounded';
    font-weight: 500;
    font-style: normal;
	width:100%;
	height:4rem;
	font-size:1.6rem;
	padding:0 1.5rem;
	background-color: #fff;
	border: 1px solid #2D9314;
	-webkit-border-radius:8px;
	border-radius:8px;
	color:#404041;
}
.fs-group input[type='text']::placeholder,
.fs-group input[type='email']::placeholder,
.fs-group input[type='number']::placeholder,
.fs-group input[type='password']::placeholder,
.fs-group textarea::placeholder {
	color:#177A3F;
}
.fs-group input[type='text']:-ms-input-placeholder,
.fs-group input[type='email']:-ms-input-placeholder,
.fs-group input[type='number']:-ms-input-placeholder,
.fs-group input[type='password']:-ms-input-placeholder,
.fs-group textarea:-ms-input-placeholder { 
  color:#177A3F;
}
.fs-group input[type='text']::-ms-input-placeholder,
.fs-group input[type='password']::-ms-input-placeholder,
.fs-group textarea::-ms-input-placeholder{
	color:#177A3F;
}
.fs-group input[type='text']::-moz-placeholder,
.fs-group input[type='email']::-moz-placeholder,
.fs-group input[type='number']::-moz-placeholder,
.fs-group input[type='password']::-moz-placeholder,
.fs-group textarea::-moz-placeholder {
	color:#177A3F; 
	opacity:1;
}
.fs-group input[type='text']:focus,
.fs-group input[type='email']:focus,
.fs-group input[type='number']:focus,
.fs-group input[type='password']:focus,
.fs-group textarea:focus {
	border-color:#2D9314;
}
.fs-group .fs-select-header span{
	color:#b1b1b1;
}
.fs-group .not-default .fs-select-header span{
	color:#000;
}

.fs-caption{
	font-size:1.3rem;
	margin-bottom:0.5rem;
	font-weight:700;
}
.fs-group textarea{
	display:block;
	width:100%;
	height:10rem;
	padding:1.5rem;
	font-size:1.3rem;
	color:#5f6a7d;
	border:1px solid #cbcbcb;
	-webkit-border-radius:4px;
	border-radius:4px;
	resize:none;
	overflow:auto;
	color:#000;
}

.fs-but{
	font-family: 'Baloo Bhai';
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	background: -webkit-linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,123,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,123,0,1) 100%);
    color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
	font-size: 2.2rem;
	text-align: center;
}


/*FOOTER AREA*/
.fs-footer{
	background-color:#fff;
	z-index:2;
}
.footer-inr {
	position:relative;
	display: block;
	width: 100%;
	max-width: 136rem;
	margin: 0 auto;
}
.footer-top{
	position: relative;
	display: block;
	width: 100%;
	padding: 0 0 2% 0;
}
.list__box{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4% 0 0;
}
.title__footer{
	width: 38.55072%;
	margin: 0 auto 3% auto;
}
.footer-top .fs-box{
	flex: 0 0 33.333%;
	max-width:33.333%;
	padding-left: 10%;
}
.footer-top li{
	position: relative;
	display: block;
	margin-bottom: 0.5rem;
}
.footer-top p{
	color: #fff;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
.footer-top li a{
	color: #fff;
	font-size: 1.4rem;
}
.footer-bot{
	position: relative;
	display: block;
	width: 100%;
}
.fs-logo-ft{
	position: absolute;
    top: 55%;
    left: 2%;
	width: 34.6762%;
}
.fs-logo-ft img{
	width: 100%;
}
.footer-bot .fs-social{
	position: relative;
	display: block;
	background-color: #F6F6F6;
	padding: 0.52083vw 5%;
}
.fs-social p{
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}
.fs-social ul{
	font-size: 0;
}
.fs-social li{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
	width: 3rem;
}
.fs-social li a{
	display: block;
	width: 100%;
	height: 100%;
}
.fs-social li a img{
	width: 100%;
}

.list__box .fs-box:nth-child(1){
	padding-left: 7%;
}


/*Slider*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;
    z-index:1;
  }
  .swiper-wrapper {
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-transition-property:-webkit-transform;
    transition-property:-webkit-transform;
    -o-transition-property:transform;
    transition-property:transform;
    transition-property:transform, -webkit-transform;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    -webkit-transform:translate3d(0px, 0, 0);
    transform:translate3d(0px, 0, 0);
  }
  .swiper-slide {
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	width:100%;
	height:100%;
	position:relative;
	-webkit-transition-property:-webkit-transform;
	transition-property:-webkit-transform;
	-o-transition-property:transform;
	transition-property:transform;
	transition-property:transform, -webkit-transform;
	/* background-color:#fff; */
  }
  .swiper-button-prev, .swiper-button-next {
	position:absolute;
	top:50%;
	width:30px;
	height:auto;
	z-index:10;
	cursor:pointer;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.swiper-button-prev::before, .swiper-button-next::before{
	content:'';
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding-top:156.6666%;
}
.swiper-button-prev {
	background-image:url(../images/prev.png);
	background-size:cover;
	left:3%;
}
.swiper-button-next {
	background-image:url(../images/next.png);
	background-size:cover;
	right:3%;
}
.swiper-pagination {
    position:absolute;
    text-align:center;
    -webkit-transition:300ms opacity;
    -o-transition:300ms opacity;
    transition:300ms opacity;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    z-index:10;
  }
  .swiper-pagination-bullet {
	position:relative;
	width:1.1rem;
	height:1.1rem;
	display:inline-block;
    margin:0 0.5rem;
	opacity:0.5;
  }
  .swiper-pagination-bullet::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor:pointer;
  }
  .swiper-pagination-bullet-active{
	  opacity: 1;
  }
  .swiper-pagination-bullet-active::before {
		background-color:#fff;
  }
  .swiper-container-fade .swiper-slide {
    pointer-events:none;
    -webkit-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity;
  }
  .swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events:none;
  }
  .swiper-container-fade .swiper-slide-active,
  .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events:auto;
  }
  .tree__pt{
	  -webkit-animation: shake 1s linear infinite alternate;
	  animation: shake 1s linear infinite alternate;
  }
  .tiger__left, .pt__tiger{
	-webkit-animation: rotateRight 0.5s linear infinite alternate;
	animation: rotateRight 0.5s linear infinite alternate;
  }
  .tiger__right, .pt__tiger--2{
	-webkit-animation: rotateLeft 0.5s linear infinite alternate;
	animation: rotateLeft 0.5s linear infinite alternate;
  }
  .pt__flower--1, .pt__flower--2, .pt__flower--3{
	-webkit-animation: scaleRotate 1.5s infinite linear alternate;
	animation: scaleRotate 1.5s infinite linear alternate;
	}
  @-webkit-keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

  @-webkit-keyframes rotateLeft {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(-8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(-8deg);
        transform-origin: 50% 100%;
    }
}
@keyframes rotateLeft {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(-8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(-8deg);
        transform-origin: 50% 100%;
    }
}


@-webkit-keyframes rotateRight {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(8deg);
        transform-origin: 50% 100%;
    }
}
@keyframes rotateRight {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(8deg);
        transform-origin: 50% 100%;
    }
}

@-webkit-keyframes rotateRight {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(8deg);
        transform-origin: 50% 100%;
    }
}
@keyframes rotateRight {
    0%{
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    100%{
        -webkit-transform: rotate(8deg);
        -webkit-transform-origin: 50% 100%;
        transform: rotate(8deg);
        transform-origin: 50% 100%;
    }
}

@-webkit-keyframes scaleRotate {
    0%{
		-webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    100%{
		-webkit-transform: scale(1.3) rotate(360deg);
        transform: scale(1.3) rotate(360deg);
    }
}
@keyframes scaleRotate {
    0%{
		-webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    100%{
		-webkit-transform: scale(1.3) rotate(360deg);
        transform: scale(1.3) rotate(360deg);
    }
}

@-webkit-keyframes shake_2 {
	2%, 18% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
	}
	4%, 16% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	6%, 10%, 14% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
	}
	8%, 12% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	18.1% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes shake_2 {
	2%, 18% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
	}
	4%, 16% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	6%, 10%, 14% {
		-webkit-transform: translateX(-4px);
		transform: translateX(-4px);
	}
	8%, 12% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	18.1% {
		-webkit-transform: none;
		transform: none;
	}
}
.item__hotline{
	-webkit-animation: shake_2 2.5s ease-in-out infinite;
	animation: shake_2 2.5s ease-in-out infinite;
}





@media screen and (max-width: 1389px){
	/* Header */
	.item-nav p, .item-nav p a {
		font-size: 1.4rem;
	}
	.item-nav .tel {
		font-size: 2.3rem;
	}



	/* Button */
	.fs-but {
		font-size: 1.4rem;
		height: 3.8rem;
		line-height: 3.8rem;
	}

	/* Select */
	.fs-select-header::after {
		width: 1rem;
		height: 0.7rem;
	}


	/* Footer */
	.footer-top p, .fs-social p, .footer-top li a {
		font-size: 1.2rem;
	}


}


/*RESPONSIVE*/
@media screen and (max-width:1100px) {
	.fs-pc{
		display:none;
	}
	.fs-sp{
		display:block;
	}

	/*HEADER AREA*/
	.fs-header{
		-webkit-background: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(255,120,0,1) 100%);
		background: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(255,120,0,1) 100%);
	}
	.hdr-inr {
		padding: 1.0791% 2%;
	}
	.logo {
		flex: 0 0 33vw;
		width: 33vw;
	}
	.fs-nav {
		flex: 0 0 58%;
		max-width: 58%;
	}
	.item-nav p, .item-nav p a {
		font-size: 3.2vw;
	}
	.item-nav .tel {
		font-size: 3.8vw;
	}
	.nav__item .nav__name::after{
		display: none;
	}
	.nav__item .nav__name {
		font-size: 4vw;
		color: #fff;
	}
	.nav__item.active .nav__name {
		color: #136835;
	}


	.header-inr {
		padding: 3% 5%;
		width: 100%;
	}

	.logo_header {
		flex: 0 0 auto;
		max-width: initial;
		padding-left: 0;
	}
	.logo_header img {
		width: 33vw;
	}
	.nav {
		position: fixed;
		top: 0;
		right: 0;
		flex: 0 0 auto;
		max-width: initial;
		width: 64vw;
		height: 100vh;
		padding: 22vw 0 5vw 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,120,0,1) 100%);
		background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,120,0,1) 100%);
		-webkit-border-radius: 5.3333vw 0px 0px 5.3333vw;
		border-radius: 5.3333vw 0px 0px 5.3333vw;
		-webkit-transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
		z-index: 2;
	}
	.open-menu .nav {
		opacity: 1;
		visibility: visible;
		-webkit-transform: none;
		transform: none;
	}
	.overlay {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
		transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
	}
	.open-menu .overlay {
		opacity: 1;
		visibility: visible;
		-webkit-transition-delay: 0s, 0s;
		transition-delay: 0s, 0s;
	}

	.nav__but {
		position: absolute;
		top: 50%;
		right: 3%;
		width: 10.666vw;
		height: 10.666vw;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 2;
		cursor: pointer;
	}
	.nav__but::before, .nav__but::after {
		content: '';
		position: absolute;
		display: block;
		width: 6vw;
		height: 6vw;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.nav__but::before {
		background: url(../images/nav_but.png) no-repeat center center;
		background-size: 100% auto;
	}
	.nav__but::after {
		background: url(../images/close_menu.png) no-repeat center center;
		background-size: 100% auto;
		display: none;
	}
	.open-menu .nav__but::before {
		display: none;
	}
	.open-menu .nav__but::after {
		display: block;
	}

	.nav ul {
		display: block;
		height: 100%;
		padding:0  5.33vw;
	}
	.nav ul li {
		display: block;
		margin-right: 0;
		margin-bottom: 7vw;
	}
	.nav__rungcay, .nav__the-le, .nav__danh-sach, .nav__san-pham,
	.nav__lien-he {
		flex: 0 0 auto;
		max-width: inherit;
		width: 100%;
	}
	.nav__pic img{
		display: none;
	}
	.nav__pic{
		font-size: 4.3vw;
		color: #fff;
		display: block;
		line-height: 1.2;
		font-weight: bold;
	}




	/*Page*/
	.swiper-pagination-bullet {
		width: 2vw;
		height: 2vw;
		margin: 0 0.666vw;
	}


	/*Title*/
	.fs-title h1, .fs-title h2, .small-title{
		font-size:5.37vw;
	}
	.fs-title{
		margin-bottom:7.4vw;
	}


	/* Page input */
	.fs-group {
		margin-bottom: 3vw;
	}
	.fs-group input[type='text'], .fs-group input[type='email'], .fs-group input[type='number'], .fs-group input[type='password'] {
		height: 10.6666vw;
		line-height: 10.666vw;
		font-size: 3.5vw;
		padding: 0 3.5vw;
		-webkit-border-radius: 1.333vw;
		border-radius: 1.333vw;
	}
	.fs-but {
		height: 10.6666vw;
		-webkit-border-radius: 1.333vw;
		border-radius: 1.333vw;
		font-size: 3.5vw;
	}
	


	/*Banner*/
	/* .fs-banner.show-controls .swiper-button-prev, .fs-banner.show-controls .swiper-button-next{
		display:none;
	}
	.swiper-pagination-bullet{
		width:2rem;
		height:2rem;
	}
	.swiper-pagination-bullet::before{
		width:1.6rem;
		height:1.6rem;
	}
	.swiper-pagination-bullet-active{
		background-color:transparent;
		border:1px solid #fff;
		-webkit-border-radius:50%;
		border-radius:50%;
		-webkit-transform:scale(1.02);
		transform:scale(1.02);
	}
	.swiper-pagination-bullet-active::before{
		background-color:transparent;
	} */


	/*FOOTER AREA*/
	/* .footer-bot{
		padding:1.1vw 2.7777vw 2.03vw 2.7777vw;
	}
	.copyright p{
		font-size:2.6vw;
	} */

	.footer-top {
		padding: 3% 2% 2% 2%;
	}
	.footer-top p, .fs-social p {
		font-size: 3.5vw;
	}
	.footer-bot .fs-social {
		padding: 3% 5%;
	}
	.fs-social p {
		font-size: 3.5vw;
		margin-bottom: 3%;
	}
	.title__footer {
		width: 90%;
		margin: 0 auto 3% auto;
	}
	.list__box {
		padding: 0;
	}
	.footer-top .fs-box {
		flex: 0 0 49%;
		max-width: 49%;
		padding: 0 1%;
		margin-bottom: 2%;
	}
	.footer-top .fs-box:last-child{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.footer-top p, .fs-social p, .footer-top li a {
		font-size: 3.2vw;
	}
	.list__box .fs-box:nth-child(1) {
		padding-left: 0;
	}
}
@media screen and (max-width:520px) { 

}
@media screen and (max-width:390px) { 
}